/******************************************************************************
 * Content
 ******************************************************************************/
$max-content-width: 800px !default;
@use "variables" as *;

body {
  padding-bottom: $space-12;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-size: $text-body-size;
  line-height: $text-body-line-height;
  font-family: var(--font-sans);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 3.5rem;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/******************************************************************************
 * Publications
 ******************************************************************************/

/*****************************************************************************
* Projects
*****************************************************************************/
